pipeline/PL_LoadingToDWH.json
{
	"name": "PL_LoadingToDWH",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Staging_00",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Dataflow1",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"file_name": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										"sink1": {
											"table_name": {
												"value": "@concat(substring(item().name,0,lastIndexOf(item().name,'.')))",
												"type": "Expression"
											}
										}
									},
									"linkedServiceParameters": {
										"source1": {
											"schemaLinkedService": {
												"file_name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "lendingclubwspace-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									},
									"folderPath": "temp-staging"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-21T07:42:04Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}