pipeline/PL_OnPremDataExtraction.json
{
	"name": "PL_OnPremDataExtraction",
	"properties": {
		"activities": [
			{
				"name": "GetFileSystemInformation",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_onpremdata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "DataLoading",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileSystemInformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileSystemInformation').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LoadDatatoStagingArea",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_onpremdata",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Staging_00",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LC_Logger_onSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DataLoading",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ELT_LC].[usp_logger]",
					"storedProcedureParameters": {
						"errors": {
							"value": {
								"value": "@activity('LoadDatatoStagingArea').output.errors",
								"type": "Expression"
							},
							"type": "String"
						},
						"execution_date": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"rows_copied": {
							"value": {
								"value": "@activity('LoadDatatoStagingArea').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"rows_read": {
							"value": {
								"value": "@activity('LoadDatatoStagingArea').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"source": {
							"value": {
								"value": "@activity('LoadDatatoStagingArea').output.executionDetails[0].source.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"target": {
							"value": {
								"value": "@activity('LoadDatatoStagingArea').output.executionDetails[0].sink.type",
								"type": "Expression"
							},
							"type": "String"
						},
						"throughput": {
							"value": {
								"value": "@activity('LoadDatatoStagingArea').output.throughput",
								"type": "Expression"
							},
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-23T07:03:38Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}